body{
  background-image: url("./pic/web-bgd01.jpg");
  background-size: cover;
  background-attachment: fixed;
}

#nav {
  /*border-style: dashed;*/
  border-color: #FCBA03;
  height: 400px;
  text-align: center;
  margin-top: 200px;
}

#nav ul{
  margin-top: 120px;
  margin-bottom: 0px;
  padding: 0px;
  height: 280px;
  /*border-style: dashed;*/
  /*list-style: none;*/
  text-align: center;
}

#nav ul li {
  display: inline-block; /*save the trouble to let "list-style: none;"*/
  /*border-style: double;*/
  margin-top: 10px;
  margin-left: 5px;
  padding: 80px;
}

#nav ul li a {
  padding: 80px;
  /*border-style: dotted;*/
  border-radius: 30%;
  font-family: monospace,"Century Gothic", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.4s;
  /*opacity: 0.8;*/
}

/*margin does not work here, default 0 always*/
a#project{
  background-image: url("./pic/colorful.jpg");
  background-size: cover;
}

a#profile{
  background-image: url("./pic/purplecube.jpg");
  background-size: cover;
}

a#lifestyle{
  background-image: url("./pic/pinkcube.jpg");
  background-size: cover;
}

#project:hover, #profile:hover, #lifestyle:hover {
  color: #E98074;
  /*border-style: solid;*/
  /*it makes the whole list element "shake"
  if the border is invisible the first place*/
}

#media {
  text-align: center;
  margin: 0;
  /*border-style: dashed;*/
}

#media ul{
  text-align: left;
}

#media ul li{
  /*border-style: double;*/
  display: inline-block;
  margin-left: 80px;
}

#media ul li#git {
  margin-left: 480px;
}

#media ul li a{
  font-size: 30px;
  text-decoration: none;
  color: #2E3B40;
  transition: all ease-in-out 250ms;
}

#media li a:hover{
  color: #b9b9b9;
}
