body{
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: #ecf0f1;
  background-size: auto; /*!!!*/
}

#quote {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 10px;
}

.word:first-letter {
  font-size: 300%;
  color: #eda580;
}

.word {
  font-style: italic;
  font-weight: 400;
  font-family: monospace;
  color: #000000;
  font-size: 20px;
}

#nav {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

#nav a{
  position: relative; /*!!!*/
  display: inline-block;
  width: 110px;
  height: 110px;
  background: #eda580;/*#6bcbe8;*/
  margin: 2%;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #000000;
  overflow: hidden;
  text-decoration: none;
}

#nav a i {
  font-family: monospace;
  font-style: normal;
  font-weight: bold;
  line-height: 120px;
  font-size: 20px;
  transition: 0.2s linear;
}

#project:hover, #profile:hover, #lifestyle:hover {
  color: #d64747;
  opacity: 0.6;
}


#media {
  position: absolute;
  top: 70%;
  width: 100%;
  text-align: center;
}

#media a{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: /*linear-gradient(45deg, #dfe4ea, #eda580)*/#eda580;
  margin: 30px;
  border-radius: 30%;
  color: #000000;
  overflow: hidden;
  text-decoration: none;
}

#media a i {
  line-height: 50px;
  font-size: 25px;
  transition: 0.2s linear;
}

#media a:hover i{
  transform: scale(1.2);
  color: #eda580;
}

#media a::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #c9ccc0;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

#media a:hover:before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }
  50%{
    left: 10%;
    top: -30%;
  }
  100%{
    top: -10%;
    left: -10%;
  }
}
