* {
  font-family: monospace;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url("./pic/bgd6.jpg");
  background-size: auto;
}

.word:first-letter {
  font-size: 300%;
  color: #ff7979;
}

p {
  font-style: italic;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
}

.quote {
  margin: 0 auto;
  width: 980px;
  padding: 0;
  top: 10px;
  background: #c8d6e5;/*#ecf0f1;*/
}

.wrap {
  height: 500px;
}

.nav {
  display: flex;
  height: 300px;
  align-items: center;
  justify-content: center;
}

.nav ul{
  padding: 0;
  margin: 0;
}

.nav li {
  display: flex;
  list-style: none;
  margin-bottom: 3em;
  width: 25em;
  height: 3.5em;
  align-items:  center;
  justify-content: center;
  border-radius: 10%;
  box-shadow: 5px 5px 8px 1px grey;
}

.nav li a {
  font-size: 2em;
  text-decoration: none;
  color: black;
}

#blog {
  background-color: #ff7979;/*#ff6b81;*/
}

#project {
  background-color: #ffbe76;
}

#about {
  background-color: #7ed6df;
}

#blog:active, #project:active, #about:active {
  box-shadow: none;
}

#blog:hover, #project:hover, #about:hover {
  font-weight: bold;
  opacity: 0.9;
}

.contact {
  position:absolute;
  left: 0;
}

.contact button {
  animation: blink 2s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.contact button {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  padding: 8px 20px;
  outline: none;
  background-color: #c8d6e5;/*#f6e58d;*/
}

/* slow dropdown settings */
/* default settings */
.app {
  display: flex;
  justify-content: center;
  height: 0;
  overflow: hidden;
  transition-duration: 1.5s;
  transition-timing-function: ease-out;
}

.app ul{
  margin: 0;
  padding: 0;
}

.app li {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  width: 3.8em;
}

.app li a {
  text-decoration: none;
}

.app li i{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  color: #c8d6e5;
}

.contact:hover .app{
  height: 400px;
}

.contact:hover button{
  color: #ff7979;
  animation: none;
}

.app li:hover i{
  color: #ff7979;
}
