* {
  font-family: monospace;
  background: red;
}

.wrap {
  width: 960px;
  margin: 0 auto;
}

#heading {
  text-align: center;
  border-bottom-style: double;
  border-bottom-color: grey;
  border-bottom-width: 3px;
  margin: 0;
  padding: 0;
}

#heading h1{
  margin: 0;
  /*border-style: dashed;*/
}

#heading #cover {
  height: 300px;
  width: 300px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
}

#heading img{
  margin: 0;
  padding: 0;
  height: 300px;
}

input[type=checkbox]{
  position: absolute;
  opacity: 100%;
}

label {
  font-size: 1.8em;
  font-weight: bold;
  cursor: pointer;
}

/* Default State */
.dpd-content{
  border-style: dashed;
  background: red;
  display: none;
}

/* Toggled State
input[type=checkbox]:checked ~ .dpd-content {
  display: block;
}
