* {
  font-family: monospace;
}

body{
  background-image: url("./pic/bgd6.jpg");
  background-size: cover;
}

/*===================== LOGO ==========================*/
.logo {
  /* center object at the center of the window with position as 'absolute' */
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 100;
}

.bar {
  margin-left: 20%;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 150px;
  height: 150px;
  background-color: rgb(237, 179, 31);
  border-radius: 50%;
  border: solid thick;
  animation: spin 5s linear infinite;
}

.bar:hover, .bar:focus {
  background: black;
  color: rgb(237, 179, 31);
  transition-duration: 1s;
  transition-timing-function: ease-out;
  animation: none;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/*====================== navigators ==================*/
.nav {
  margin-left: 40px;
  display: none;
}
.nav li {
  list-style: none;
  border-radius: 10%;
}
.nav li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 150px;
  height: 50px;
  color: black;
  font-size: 2em;
}

#blog {
  background-color: #ff7979;/*#ff6b81;*/
}
#project {
  margin: 50px 0;
  background-color: #ffbe76;
}
#about {
  background-color: #7ed6df;
}

/*=========================Menu Box==========================*/
/* checkbox */
input[class=menu] {
  position: absolute;
  opacity: 0;
}
/* toggled state */
input[id=show]:checked ~ .nav{
  display: list-item;
}

/*=================== SOCIAL MEDIA ======================*/
.contact {
  position:absolute;
  margin-top: 5%;
  left: 0;
}
/* default setting for button */
.contact button {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  padding: 8px 20px;
  background: rgb(181, 49, 9, .7);
  outline: none;
  border-style: none;
}
.contact button {
  animation: blink 2s linear infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
/* slow dropdown settings */
/* default settings */
.app {
  display: flex;
  justify-content: center;
  height: 0;
  overflow: hidden;
  transition-duration: 1.5s;
  transition-timing-function: ease-out;
}
.app ul{
  margin: 0;
  padding: 0;
}
.app li {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  width: 3.8em;
}
.app li a {
  text-decoration: none;
}
.app li i{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  color: rgb(0, 0, 0);
}

.contact:hover .app{
  height: 400px;
}
.contact:hover button{
  color: rgb(237, 179, 31);
  animation: none;
  cursor: pointer;
}

.app li:hover i{
  color: rgb(237, 179, 31)/*#ff7979*/;
}
