* {
  font-family: monospace;
}

/* ====================== Content: Nevigation =======================*/
.nevi {
/* ===== fix combo === */
  position: fixed;
  top: 0;
  left: 0;
/* =================== */
  width: 100%;
  height: 60px;
  background-color: #0a3d62;
  z-index: 1;
}

.logo {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  color: orange;
  z-index: 2;
  margin-left: 5px;
}

.header{
  text-decoration: none;
  color: #f1f2f6;
  font-size: 30px;
  transition: .5s;
  margin-left: 10px;
}

.menu {
  position: absolute;
  right: 0;
  bottom: 0;
}

.menu a {
  text-decoration: none;
  color: #f1f2f6;
  font-size: 25px;
  margin-right: 18px;
  transition: .5s;
}

.menu a:hover{
  color: #636e72;
}

/* ================ Content ====================== */
.main {
  top: 60px;
  left: 0;
  min-height: 100%;
  height: auto;
/* ======== important learning part ======= */
  width: 100%;
  overflow-x: hidden;
/* ======================================== */
}

.content {
  width: 1300px;
  margin: 60px auto;
  min-height: 650px;
  height: auto;
  overflow: hidden;

}

.list {
  float: left;
  margin-left: 25px;
  margin-right: 25px;
  min-height: 650px;
  height: auto;
  width: 625px;
}

.list div {
  float: left;
  margin-top: 4%;
  margin-left: 4%;
  width: 150px;
  height: 100px;
  background-color: #00b894;
  text-align: center;
  transition: .5s;
}

.list div a {
  color: black;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  background-color: inherit;
}

.topic {
  float: left;
  min-height: 650px;
  height: auto;
  width: 625px;
  text-align: center;
}

.topic img {
  margin-top: 4%;
  width: 500px;
}

.list div:hover {
  background-color: #55efc4;
}

/* ============= Content - Footer ================== */
.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: #dfe4ea;
}

.social, .contact {
  margin: 20px;
}

.social a, .contact a {
  text-decoration: none;
  color: black;
  display: list-item;
  list-style: none;
  font-size: 25px;
  margin-top: 20px;
}

#sub-head{
  font-size: 20px;
  font-weight: bold;
}

.app {
  font-size: 15px;
  margin-left: 5px;
}

.social a:hover, .contact a:hover {
  color: #636e72;
}

.social a:hover .app, .contact a:hover .app{
  text-decoration: underline;
}

.contact #weixin:before {
  position: absolute;
  content: url("./pic/wechat.jpg");
  bottom:0;
  opacity: .9;
  transition: .5s;
  transform: scale(0);
}

.contact #weixin:hover:before {
  transform: scale(1);
}
